# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Luka\Documents\Luka's Docs\EPFL\Financial Engineering\MA2\Core Modules\Derivatives\Problem Sets\Project\RCN_pricing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
